.step4{
  .btnPrimary{
    width: 100%;
  }

  .containerPp{
    .previewFile{
      display: flex;
    }
    img{
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      border: solid 2px $green;
      margin: auto;
    }
  }

  .containerCv,
  .containerPp,
  .containerBanner{
    .previewFile{
      margin-bottom: 10px;
    }
  }
}

.signUpContainer .step{
  &.step4{
    .formGroup{
      padding-bottom: 30px;
      padding-top: 15px;
      
      .previewFiles{
        max-width: 270px;
        margin: auto;
      }
    }
  }
}

.signUpContainer form{
  width: 100%;

  > .btn{
    margin-top: 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    
  }

}

.step3{
  .tabs.buttons{
    max-width: 400px;

    @media screen and (max-width: $mobile) {
      margin-left: 0;
    }
  }

  .skills,
  .experiences,
  .links{
    width: 100%;
    max-width: 400px;
    position: relative;

    > button{
      margin-top: 20px;
    }

    .formGroup{
      padding-bottom: 20px;

      &:last-of-type{
        padding-bottom: 0;
      }
    }

    .cards{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 10px;
    }

    .formGroup.description{padding-bottom: 0;}
    
    .skill,
    .experience,
    .link{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      flex-grow: 1;
      flex-wrap: wrap;
      border: 2px solid $primary;
      border-radius: 5px;
      justify-content: flex-start;
      width: calc(50% - 27px);
      position: relative;
      padding: 0 0 10px 0;

      p{padding: 0;margin: 0;}

      > p:first-child{
        padding: 10px 10px 10px 10px;
        background: $primary;
        color: $white;
        width: calc(100% - 20px);
        text-align: center;
      }

      svg{
        width: 20px;
      }

      a{
        color: $black;
        text-decoration: none;
        border: 1px solid $black;
        padding: 5px 10px;
        border-radius: 5px;
        height: fit-content;
        font-size: 14px;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        >div{height: fit-content;display: flex;}

        &:hover{
          color: $primary;
          border: 1px solid $primary;
        }
      }

      @media screen and (max-width: $mobile) {
        width: calc(100% - 20px);
      }
    }

    .checkboxContainer{
      margin-top: 20px;
    }

    .skill,
    .link{
      .moreInfo{
        position: absolute;
        top: 10px;
        left: 0px;
        height: fit-content;
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
        // width: calc(100% - 20px);

        button.moreInfoButton{
          height: 20px;
          width: 20px;
          border-radius: 50%;
          border-color: $green;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3px;
          appearance: none;
          border-style: solid;
          cursor: pointer;

          svg{
            height: fit-content;
            width: 15px;
          }
        }

        .description{
          display: none;
          position: absolute;
          bottom: calc(100% + 10px);
          left: 0;
          background-color: $white;
          border: 2px solid $primary;
          border-radius: 5px;
          padding: 10px;
          width: 200px;
          z-index: 1;


          &.active{
            display: block;
          }
        }
      }
    }

    .experience{
      gap: 0;
      position: relative;

      .dates{
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        border-bottom: solid 1px $primary;
        font-size: 10px;
        gap: 5px;
        background: $green;

        p:not(:only-child):after{
          content: '';
          display: inline-block;
          height: 100%;
          width: 1px;
          background-color: $primary;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .actualyIn{
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: red;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        &.green{
          background-color: $green;
        }

        &Small{
          display: flex;
          font-size: 10px;

          .color{
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: red;
            align-self: center;
            margin: 0 2px;

            &.green{
              background-color: $green;
            }
          }
        }
      }

      .jobName{
        margin-top: 5px;
      }

      .type{
        margin: 5px 0;
      }
    }

    .removeButton{
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: $green;
      color: $white;
      border: none;
      text-align: center;
      border-radius: 5px;
      font-size: 10px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      width: 20px;
      height: 20px;

      &:hover{
        background-color: darken($color: $primary, $amount: 10%);
      }
    }

    .actualyIn{
      font-size: 14px;
      text-align: center;
    }
  }
}