.filters{
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: flex-end;
  justify-content: space-between;

  label{
    display: none;
  }
  > .formGroup:not(.formGroup.file){
    width: calc(50% - 10px);
    max-width: none;
  }

  button{
    height: fit-content;
  }

  @media screen and (max-width: $tablette){
    gap: 2px;
  }

  @media screen and (max-width: $mobile){
    flex-direction: column;
    gap: 10px;

    > .formGroup:not(.formGroup.file){
      width: 100%;
    }

    button{
      width: 100%;
    }
  }
}