.accountPage{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;

  aside{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    position: sticky;
    top: 50px;
  }

  > .content{
    width: calc(100% - 350px);
    max-width: 700px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

    > .row{
      justify-content: space-between;
      align-items: center;

      button{
        height: fit-content;
      }
    }

    .step{
      margin-top: 30px;

      h2{
        display: none;
      } 
    }

    .addLinkCat{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 5px 20px;
      border: solid 2px $green;
      border-radius: 50px;

      button{
        height: fit-content;
      }
    }
  }

  .userPosts{
    display: flex;
    flex-direction: column;
    width: 100%;

    .posts{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      gap: 10px;
      margin-top: 30px;
    }

    .menuPosition{
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;

      .menuContainer{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .menu{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          padding: 0;
          background: transparent;
          padding: 5px;
          width: 35px;
          height: 35px;
          border: solid 2px rgba($black, 0);
          border-radius: 50px;
          transition: all 0.2s ease-out;
          cursor: pointer;

          span{
            display: inline-block;
            justify-content: center;
            width: 5px;
            height: 5px;
            border-radius: 20px;
            background-color: $black;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
          }

          &:hover{
            border: solid 2px $primary;
          }
        }
        
        &.open > .btns{
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between  ;
          align-items: center;
          background-color: $primary;
          border: solid 2px $green;
          padding: 5px 0;
          z-index: 1;
          border-radius: 5px;

          button:not(.menu),
          a{
            display: inline-block;
            background-color: transparent;
            border: none;
            color: $white;
            font-size: 12px;
            cursor: pointer;
            text-decoration: none;
            padding: 5px 10px;

            &:hover{
              color: darken($white, 20%);
              background-color: rgba($black, 0.2);
            }
          }
          button:not(.menu){
            width: 100%;
          }
          a{
            width: calc( 100% - 20px);
          }
        }
      }
    }
  

    .userPost{
      width: calc(100% - 20px);
      height: auto;
      min-height: 100px;
      position: relative;
      border: 2px solid $primary;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: $white;

      

      .content{
        width: 100%;
        padding: 10px;
        
        &.updating{
          border: solid 1px $primary;
        }
      }
    }

    button.updatePost{
      background-color: transparent;
      border: none;
      color: $black;
      font-size: 1.5rem;
      cursor: pointer;
    
      &:hover{
        color: $primary;
      }
    }

    button.removePost{
      background-color: transparent;
      border: none;
      color: $black;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover{
        color: $primary;
      }
    }

    button.cancelUpdatePost{
      background-color: transparent;
      border: none;
      color: $black;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover{
        color: $primary;
      }
    }

  }

  .formGroup:not(.formGroup.file),
  .formGroup{
    max-width: 100%;
  }

  
  
  .loadMore{
    display: flex;
    margin: 10px auto;
    padding: 10px;
    background-color: $primary;
    border: none;
    color: $white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: $black;
    }
  }

  .editUser{
    form{
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    .tabs.buttons{
      position: sticky;
      top: 0px;
      background: $background;
      z-index: 1;
    }
  }
  @media screen and (max-width: $tablette) {
    gap: 20px;

    aside.tabs.buttons{
      max-width: 200px;
      width: 200px;
    }

    > .content{
      flex-shrink: 1000;
      flex-basis: content;
    }

    .editUser .tabs.buttons{
      top: 46px;
    }
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column-reverse;
    gap: 20px;

    > aside.tabs.buttons{
      max-width: calc(100% + 40px);
      width: calc(100% + 40px);
      margin-bottom: 0;
      margin-left: -20px;
      position: sticky;
      bottom: 0;
      z-index: 1;
      background: $background;
      flex-direction: row;
      gap: 0;
      z-index: 4;

      button{
        border-top: solid 2px;
        border-right: solid 1px;
        border-left: solid 2px;
        border-color: $green;
        padding: 10px 5px;

        &.active{
          background-color: $green;
        }

        &:first-child{
          border-left: none;
        }
        &:last-child{
          border-right: none;
        }
      }
    }

    > .content{
      width: 100%;
      max-width: 100%;
      margin-top: 20px;

      .step3 .tabs.buttons{
        max-width: none;
      }
    }
  }
}