.home{
  min-height: 100vh;

  .main{
    .posts{
      display: flex;
      flex-direction: column;
      gap: 20px;

      

      .swiper-slide{
        
        .previewFile{
          margin: auto 0;
          max-height: 500px;
          margin: auto;

          &.pdf{
            width: auto;
          }
        }
      }
      
      img:not(.pp),
      video{
        max-height: 500px;
        height: 100%!important;
      }
      .react-pdf__Document,
      .react-pdf__Page > div,
      canvas{
        max-height: calc(500px - 104px)!important;
      }
      .pdfViewer{
        width: auto!important;
        height: 100%!important;
        max-height: calc(500px - 12px)!important;
      }

    }
  }
}