.homePage{
  min-height: calc(100vh - 400px);

  .main{
    .posts{
      display: flex;
      flex-direction: column;
      gap: 20px;

      .endPosts{
        text-align: center;
        color: $primary;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        margin-top: 20px;
      }

      .swiper-slide{
        
        .previewFile{
          margin: auto 0;
          max-height: 500px;
          margin: auto;

          &.pdf{
            width: auto;
          }
        }
      }
      
      img:not(.pp),
      video{
        max-height: 500px;
        height: 100%!important;
      }
      .react-pdf__Document,
      .react-pdf__Page > div,
      canvas{
        max-height: calc(500px - 104px)!important;
      }
      .pdfViewer{
        width: auto!important;
        height: 100%!important;
        max-height: calc(500px - 12px)!important;
      }

    }
  }
}