$pictoUser: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.232' height='18.543' viewBox='0 0 18.232 18.543'%3E%3Cg id='user' transform='translate(-23.669 -26.75)'%3E%3Cpath id='Tracé_20482' data-name='Tracé 20482' d='M51.146,32.073a5.073,5.073,0,1,0-5.073,5.073A5.074,5.074,0,0,0,51.146,32.073Zm-8.823,0a3.75,3.75,0,1,1,3.75,3.75A3.747,3.747,0,0,1,42.323,32.073Z' transform='translate(-13.311)' fill='%23fff' stroke='%23fff' stroke-width='0.5'/%3E%3Cpath id='Tracé_20483' data-name='Tracé 20483' d='M24.27,87a.623.623,0,0,0,.331.088.64.64,0,0,0,.573-.331,8.728,8.728,0,0,1,15.2,0,.662.662,0,1,0,1.147-.662,10.072,10.072,0,0,0-17.513,0A.663.663,0,0,0,24.27,87Z' transform='translate(0 -42.089)' fill='%23fff' stroke='%23fff' stroke-width='0.5'/%3E%3C/g%3E%3C/svg%3E%0A";
$pictoUser2: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.809' height='19.581' viewBox='0 0 22.809 19.581'%3E%3Cg id='Groupe_19278' data-name='Groupe 19278' transform='translate(-240.211 -15.711)'%3E%3Cg id='Layer_2' data-name='Layer 2' transform='translate(239.461 13.311)'%3E%3Cpath id='Tracé_20834' data-name='Tracé 20834' d='M20.609,2.65H3.7A2.707,2.707,0,0,0,1,5.349v10.8a2.707,2.707,0,0,0,2.7,2.7h7.711v1.4H9.18a.744.744,0,1,0,0,1.487l5.949-.067a.744.744,0,1,0,0-1.487H12.9V18.846h7.711a2.707,2.707,0,0,0,2.7-2.7V5.349a2.707,2.707,0,0,0-2.7-2.7Zm1.212,13.5a1.212,1.212,0,0,1-1.212,1.212H3.7a1.212,1.212,0,0,1-1.212-1.212V5.349A1.212,1.212,0,0,1,3.7,4.137h16.91a1.212,1.212,0,0,1,1.212,1.212Z' transform='translate(0 0)' fill='%23fff' stroke='%23fff' stroke-width='0.5'/%3E%3C/g%3E%3Cg id='user_1_' data-name='user (1)' transform='translate(215.781 20)'%3E%3Cg id='Groupe_19275' data-name='Groupe 19275' transform='translate(32.933)'%3E%3Cg id='Groupe_19274' data-name='Groupe 19274' transform='translate(0)'%3E%3Cpath id='Tracé_20835' data-name='Tracé 20835' d='M123.9,0a2.9,2.9,0,1,0,2.9,2.9A2.9,2.9,0,0,0,123.9,0Z' transform='translate(-121)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3Cg id='Groupe_19277' data-name='Groupe 19277' transform='translate(31 6.445)'%3E%3Cg id='Groupe_19276' data-name='Groupe 19276'%3E%3Cpath id='Tracé_20836' data-name='Tracé 20836' d='M39.442,301.25A4.134,4.134,0,0,0,36.478,300H35.189a4.134,4.134,0,0,0-2.964,1.25A4.227,4.227,0,0,0,31,304.232a.322.322,0,0,0,.322.322h9.023a.322.322,0,0,0,.322-.322A4.227,4.227,0,0,0,39.442,301.25Z' transform='translate(-31 -300)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A";
$pictoDownloadLight: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.223' height='15.412' viewBox='0 0 16.223 15.412'%3E%3Cg id='download' transform='translate(-2 -2)'%3E%3Cpath id='Tracé_20622' data-name='Tracé 20622' d='M17.412,19H2.811a.811.811,0,0,0,0,1.622h14.6a.811.811,0,0,0,0-1.622Z' transform='translate(0 -3.21)' fill='%23fff'/%3E%3Cpath id='Tracé_20623' data-name='Tracé 20623' d='M10.866,2a.811.811,0,0,0-.811.811V11.4L7.386,8.725A.814.814,0,0,0,6.234,9.876l4.056,4.056a.811.811,0,0,0,1.152,0L15.5,9.876a.814.814,0,1,0-1.152-1.152L11.677,11.4V2.811A.811.811,0,0,0,10.866,2Z' transform='translate(-0.755)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A";
$pictoDownloadDark: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.223' height='15.412' viewBox='0 0 16.223 15.412'%3E%3Cg id='download' transform='translate(-2 -2)'%3E%3Cpath id='Tracé_20622' data-name='Tracé 20622' d='M17.412,19H2.811a.811.811,0,0,0,0,1.622h14.6a.811.811,0,0,0,0-1.622Z' transform='translate(0 -3.21)' fill='%230a2637'/%3E%3Cpath id='Tracé_20623' data-name='Tracé 20623' d='M10.866,2a.811.811,0,0,0-.811.811V11.4L7.386,8.725A.814.814,0,0,0,6.234,9.876l4.056,4.056a.811.811,0,0,0,1.152,0L15.5,9.876a.814.814,0,1,0-1.152-1.152L11.677,11.4V2.811A.811.811,0,0,0,10.866,2Z' transform='translate(-0.755)' fill='%230a2637'/%3E%3C/g%3E%3C/svg%3E%0A";
$pictoData: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.316' height='16.316' viewBox='0 0 16.316 16.316'%3E%3Cg id='stats' transform='translate(-6.25 -6.25)'%3E%3Cpath id='Tracé_20831' data-name='Tracé 20831' d='M7.36,20.878A1.359,1.359,0,0,1,6,19.518V11.36a1.36,1.36,0,1,1,2.719,0v8.158A1.359,1.359,0,0,1,7.36,20.878Z' transform='translate(0.25 1.688)' fill='%23fff'/%3E%3Cpath id='Tracé_20832' data-name='Tracé 20832' d='M12.36,22.316A1.359,1.359,0,0,1,11,20.957V7.36a1.36,1.36,0,1,1,2.719,0v13.6A1.359,1.359,0,0,1,12.36,22.316Z' transform='translate(2.049 0.25)' fill='%23fff'/%3E%3Cpath id='Tracé_20833' data-name='Tracé 20833' d='M17.36,20.878A1.358,1.358,0,0,1,16,19.518V11.36a1.36,1.36,0,0,1,2.719,0v8.158A1.358,1.358,0,0,1,17.36,20.878Z' transform='translate(3.847 1.688)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A";
$pictoPhoneLight: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.527' height='13.555' viewBox='0 0 13.527 13.555'%3E%3Cpath id='Tracé_20679' data-name='Tracé 20679' d='M13.711,9.948,11.82,8.057a1.258,1.258,0,0,0-2.094.473,1.287,1.287,0,0,1-1.486.811A5.833,5.833,0,0,1,4.726,5.827a1.224,1.224,0,0,1,.811-1.486,1.258,1.258,0,0,0,.473-2.094L4.118.355a1.349,1.349,0,0,0-1.824,0L1.01,1.638C-.274,2.99,1.145,6.57,4.32,9.746s6.756,4.662,8.107,3.31l1.284-1.284A1.349,1.349,0,0,0,13.711,9.948Z' transform='translate(-0.539 0)' fill='%23fff'/%3E%3C/svg%3E%0A";
$pictoPhodeDark: "data:image/svg+xml,%3Csvg id='Groupe_19213' data-name='Groupe 19213' xmlns='http://www.w3.org/2000/svg' width='13.527' height='13.555' viewBox='0 0 13.527 13.555'%3E%3Cpath id='Tracé_20679' data-name='Tracé 20679' d='M13.711,9.948,11.82,8.057a1.258,1.258,0,0,0-2.094.473,1.287,1.287,0,0,1-1.486.811A5.833,5.833,0,0,1,4.726,5.827a1.224,1.224,0,0,1,.811-1.486,1.258,1.258,0,0,0,.473-2.094L4.118.355a1.349,1.349,0,0,0-1.824,0L1.01,1.638C-.274,2.99,1.145,6.57,4.32,9.746s6.756,4.662,8.107,3.31l1.284-1.284A1.349,1.349,0,0,0,13.711,9.948Z' transform='translate(-0.539 0)' fill='%230a2637'/%3E%3C/svg%3E%0A";
$pictoArrowUp: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.585' height='6.535' viewBox='0 0 10.585 6.535'%3E%3Cg id='arrow-down-sign-to-navigate' transform='translate(10.086 103.104) rotate(180)'%3E%3Cpath id='Tracé_20485' data-name='Tracé 20485' d='M4.793,102.6a.669.669,0,0,1-.475-.2L.2,98.286a.671.671,0,1,1,.949-.949l3.647,3.647L8.44,97.337a.671.671,0,1,1,.949.949l-4.121,4.122A.669.669,0,0,1,4.793,102.6Z' transform='translate(0)' fill='%23fff' stroke='%23fff' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A";
$pictoArrowRight: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.453' height='13.263' viewBox='0 0 8.453 13.263'%3E%3Cpath id='down-chevron' d='M11.441,0,6.631,4.809,1.822,0,0,1.822,6.631,8.453l6.631-6.631Zm0,0' transform='translate(0 13.263) rotate(-90)' fill='%230a2637' opacity='0.999'/%3E%3C/svg%3E%0A";
$pictoCrossLight: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.414' height='9.414' viewBox='0 0 9.414 9.414'%3E%3Cg id='Groupe_20376' data-name='Groupe 20376' transform='translate(16476.207 -10607.793)' opacity='0.5'%3E%3Cline id='Ligne_262' data-name='Ligne 262' x2='8' y2='8' transform='translate(-16475.5 10608.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1'/%3E%3Cline id='Ligne_263' data-name='Ligne 263' y1='8' x2='8' transform='translate(-16475.5 10608.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E";
$pictoCrossDark: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.414' height='9.414' viewBox='0 0 9.414 9.414'%3E%3Cg id='Groupe_21001' data-name='Groupe 21001' transform='translate(16476.207 -10607.793)'%3E%3Cline id='Ligne_262' data-name='Ligne 262' x2='8' y2='8' transform='translate(-16475.5 10608.5)' fill='none' stroke='%230a2637' stroke-linecap='round' stroke-width='1'/%3E%3Cline id='Ligne_263' data-name='Ligne 263' y1='8' x2='8' transform='translate(-16475.5 10608.5)' fill='none' stroke='%230a2637' stroke-linecap='round' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A";
$pictoUp: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.585' height='6.535' viewBox='0 0 10.585 6.535'%3E%3Cg id='arrow-down-sign-to-navigate' transform='translate(10.086 103.104) rotate(180)' opacity='0.502'%3E%3Cpath id='Tracé_20485' data-name='Tracé 20485' d='M4.793,102.6a.669.669,0,0,1-.475-.2L.2,98.286a.671.671,0,1,1,.949-.949l3.647,3.647L8.44,97.337a.671.671,0,1,1,.949.949l-4.121,4.122A.669.669,0,0,1,4.793,102.6Z' transform='translate(0)' fill='%23fff' stroke='%23fff' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E";


@mixin cta($bg, $px, $py, $color, $fontSize, $picto: false, $translateY: false, $translateX: false, $bkHover: false, $width: false, $lineHeight: false){
  position: relative;
  display: flex;
  align-items: baseline;
  font-size: #{$fontSize}px;
  font-weight: 500;
  padding: #{$py}px #{$px}px;
  background-color: $bg;
  color: $color;
  margin: 4px;
  border: 0;
  border-radius: 25px;
  justify-content: center;
  outline: none;
  cursor: pointer;
  
  .elementor-button-text{
    white-space: nowrap;
  }
  @if($bkHover){
    &:hover{
      background-color: $bkHover;
    }
  }@else{
    &:hover{
      background-color: darken($bg, 10%);
    }
  }
  @if($width){
    width: $width;
  } @else {
    width: fit-content;
  }
  @if($lineHeight){
    line-height: calc(#{$fontSize}px + 2px);
  } @else {
    line-height: 23px;
  }
  @if ($picto){
    @if($translateX and $translateY){
      &:after{
        transform: translate($translateX, $translateY);
      }
    }@else{
      @if($translateX){
        &:after{
          transform: translateX($translateX);
        }
      }
      @if($translateY){
        &:after{
          transform: translateY($translateY);
        }
      }
    }
    &:after{
      content: url($picto);
      margin-left: 15px;
    }
  }
  &::before{
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 30px;
    border: solid 2px darken($bg, 10%);
    opacity: 0;
    transition: all 0.2s ease-in-out;

  }
  &:hover:before, 
  &:focus:before{
    opacity: 1;
  }

  &[disabled]{
    background-color: lighten($bg, 10%);
    user-select: none;
  }
  &[disabled]:before,
  &[disabled]:hover:before,
  &[disabled]:focus:before{
    opacity: 0;
  }
}

//cta(bg color, padding-x, padding-y, color, fontSize, picto, $translateY: 3px, $translateX: 3px, $bkHover: $white15)
.btnPrimary{
  @include cta($primary, 20, 10, $white, 14);
}

.btnPrimarySmall{
  @include cta($primary, 10, 5, $white, 12, $lineHeight: true);
}

.btnGreen,
button[type='submit']{
  @include cta($green, 20, 10, $white, 14);
}

input[type="file"]{
  display: none;

  & + label{
    @include cta($green, 20, 10, $white, 16, $picto: $pictoUp, $width: 100%);
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: $tablette){
  .btnPrimary{
    @include cta($primary, 10, 5, $white, 12);
  }
  .btnPrimarySmall{
    @include cta($primary, 10, 5, $white, 12, $lineHeight: true);
  }
  .btnGreen,
  button[type='submit']{
    @include cta($green, 10, 5, $white, 12);
  }

  input[type="file"]{
    & + label{
      @include cta($green, 10, 5, $white, 12, $picto: $pictoUp, $width: 100%);
    }
  }
}
