form.mainform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // max-width: 500px;
  // margin: auto;
  gap: 15px;
  // background-color: $white;
  // padding: 50px;
  // border-radius: 20px;
  // box-shadow: 0 4px 20px 0 rgba($color: $black, $alpha: 0.1);
}
.error{
  color: #e04646;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
}

.formGroup:not(.formGroup.file){
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 400px;

  label{
    position: absolute;
    top: -10px;
    left: 0px;
    font-size: 14px;
    font-weight: 600;
    color: $primary;
    // background-color: $white;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &.active{
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }
  input:not([type='checkbox']), 
  textarea, 
  select{
    font-weight: 400;
    margin-top: 15px;
    border-radius: 10px;
    background: $primary;
    border: none;
    padding: 15px;
    display: block;
    color: $white;
    width: calc(100% - 30px);
    font-size: 14px;
    transition: background 0.3s;

    &:focus{
      outline: none;
      border-color: $primary;
    }
    &::placeholder{
      color: #ffffffbe;
    }
  }
  select{
    width: 100%;
  }

}

textarea{
  max-width: calc(100% - 30px);
  height: 100px;

  &:focus{
    outline: none;
    border-color: $primary;
  }
}

.formGroup.file{
  width: 100%;
  max-width: 400px;
  border-bottom: 1px solid rgba($color: $black, $alpha: 0.5);

  &:last-of-type{
    border-bottom: none;
  }
}