$desktop: 1440px;
$tablette: 1024px;
$mobile: 768px;

.defaultPaddingX{padding-left:120px; padding-right:120px}
.defaultPaddingY{padding-top:80px; padding-bottom:80px}

@media screen and (max-width: $tablette){
  .defaultPaddingX{padding-left:80px; padding-right:80px}
  .defaultPaddingY{padding-top:54px; padding-bottom:40px}
}

@media screen and (max-width: $mobile){
  .defaultPaddingX{padding-left:20px; padding-right:20px}
  .defaultPaddingY{padding-top:54px; padding-bottom:20px}
}

$white: #fff;
$black: #000;
$green: #5abdb4;

$primary: #22253A;
$primaryLight: #8EA7E9;
$primaryLighter: #E5E0FF;

$background: #f7f9f9;